@use "../../styles/utils.scss" as utils;
@use "../../styles/variables.scss" as variables;

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    
}

.footer > * {
    flex: 1;
}

a {
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.footer__img-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.footer__img{
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.2);
    }
}

.footer__title{
    font-size: variables.$size-xs;
    font-weight: 400;
    color: variables.$clr-slate600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
    text-align: center;
}

