<section class="about container section">
  <div class="about__content">
    <h2 class="about__title">About me</h2>
    <p class="about__description">
      Hi there! Welcome to my website. I'm a
      <strong>Frontend Developer</strong> based in Munich, Germany, passionate
      about solving complex problems and taking on new challenges. I'm happy
      that you've found my corner of the web.
    </p>
    <div class="about__description-box">
      <img class="about__icon" src="/svg/lightbulb.svg" alt="A light bulb" />

      <p class="about__description">
        I am disciplined and have a strong logical mindset. People who know me
        say I'm obsessed and they're probably right, I am driven and love diving
        into new things.
      </p>
    </div>
    <div class="about__description-box">
      <img class="about__icon" src="/svg/puzzle.svg" alt="A puzzle piece" />

      <p class="about__description">
        I enjoy solving problems and coming up with creative solutions to turn
        digital ideas into reality. Programming pushes me every day and keeps me
        excited about what I do. Check out my projects to see how I bring it all
        together.
      </p>
    </div>
  </div>
  <div class="about__img-wrapper">
    <img class="about__img" src="/img/hero.jpg" alt="Profile picture" />
  </div>
</section>
