<section id="about" class="about container section">
  <div class="about__content">
    <h2 class="about__title">{{
      "about.title" | translate
    }}</h2>
    <p class="about__description">
      {{
        "about.description1" | translate
      }}
      <strong>{{
        "about.description2" | translate
      }}</strong> {{
        "about.description3" | translate
      }}
    </p>
    <div class="about__description-box">
      <img class="about__icon" src="/svg/lightbulb.svg" alt="A light bulb" />

      <p class="about__description">
        {{
          "about.description4" | translate
        }}
      </p>
    </div>
    <div class="about__description-box">
      <img class="about__icon" src="/svg/puzzle.svg" alt="A puzzle piece" />

      <p class="about__description">
        {{
          "about.description5" | translate
        }}
      </p>
    </div>
  </div>
  <div class="about__img-wrapper">
    <img class="about__img" src="/img/hero.jpg" alt="Profile picture" />
  </div>
</section>
