<section
  class="hero container"
 
>
  <img class="hero__img" src="/img/small.webp" alt="Profile picture" />
  <h2 class="hero__subtitle">{{ "hero.subtitle" | translate }}</h2>
  <h1 class="hero__title">
    {{ "hero.title1" | translate }}<br />{{ "hero.title2" | translate }}
  </h1>
  <p class="hero__description">
    {{ "hero.description1" | translate
    }}<strong>{{ "hero.description2" | translate }}</strong
    >{{ "hero.description3" | translate }}
  </p>
  <a class="hero__btn btn" href="#contact">{{ "hero.btn" | translate }}</a>
</section>
