.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.skills__content-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.skills__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  margin-bottom: 1rem;
}

.skills__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.skills__grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  align-items: baseline;
  grid-gap: 1.5rem;
}

.skills__grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills__skill-icon {
  margin-inline: auto;
  height: 45px;
  @keyframes jump {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  &:hover {
    animation: jump 0.5s ease-in-out infinite;
  }
}

.skills__skill-name {
  font-size: var(--size-sm);
  color: var(--clr-indigo);
  font-weight: 400;
  margin-top: 0.5rem;
  line-height: 0.9;
}

.skill-name--green {
  color: var(--clr-green);
}

.skills__btn {
  font-size: var(--size-sm);
  align-self: center;
}

//  xs
@media (min-width: 475px) {
  .skills {
    gap: 1.5rem;
  }

  .skills__content-container {
    gap: 1.5rem;
  }

  .skills__title {
    font-size: var(--size-3xl);
    margin-bottom: 1.5rem;
  }

  .skills__description {
    font-size: var(--size-base);
  }

  .skills__skill-name {
    font-size: var(--size-base);
  }

  .skills__btn {
    font-size: var(--size-base);
  }
}

//  sm
@media (min-width: 640px) {
  .skills__grid-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

//  md
@media (min-width: 768px) {
  .skills__grid-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
}

//  lg
@media (min-width: 1024px) {
  .skills__content-container {
    flex-direction: row-reverse;
  }

  .skills__title {
    font-size: var(--size-4xl);
  }

  .skills__description {
    font-size: var(--size-lg);
  }

  .skills__skill-icon {
    width: 4rem;
    height: 4rem;
  }

  .skills__skill-name {
    font-size: var(--size-lg);
  }

  .skills__btn {
    font-size: var(--size-lg);
  }
}

//  xl
@media (min-width: 1280px) {
  .skills {
    gap: 2rem;
  }

  .skills__content-container {
    gap: 2rem;
  }

  .skills__title {
    font-size: var(--size-5xl);
    margin-bottom: 2rem;
  }

  .skills__description {
    font-size: var(--size-xl);
  }

  .skills__grid-container {
    grid-gap: 2rem;
  }

  .skills__skill-name {
    font-size: var(--size-xl);
  }

  .skills__btn {
    font-size: var(--size-xl);
  }
}

//  2xl
@media (min-width: 1536px) {
  .skills__grid-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
