<section class="skills container section">
  <div class="skills__content-container">
    <div class="skills__info">
      <h2 class="skills__title">{{ "skills.title" | translate }}</h2>
      <p class="skills__description">
        {{ "skills.description" | translate }}
      </p>
    </div>

    <div class="skills__grid-container">
      <div
        class="skills__grid-item"
        data-aos="fade-right"
        data-aos-delay="300"
        data-aos-duration="400"
        data-aos-easing="ease-in-out"
      >
        <img
          class="skills__skill-icon"
          src="img/skills/angular.svg"
          alt="Angular"
        />
        <h3 class="skills__skill-name">Angular</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="300"
      data-aos-duration="400"
      data-aos-easing="ease-in-out">
        <img
          class="skills__skill-icon"
          src="img/skills/typescript.svg"
          alt="Typescript"
        />
        <h3 class="skills__skill-name">TypeScript</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="300"
      data-aos-duration="400"
      data-aos-easing="ease-in-out">
        <img
          class="skills__skill-icon"
          src="img/skills/javascript.svg"
          alt="JavaScript"
        />
        <h3 class="skills__skill-name">JavaScript</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="300"
      data-aos-duration="400"
      data-aos-easing="ease-in-out">
        <img class="skills__skill-icon" src="img/skills/html.svg" alt="HTML" />
        <h3 class="skills__skill-name">HTML</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="400"
      data-aos-duration="400"
      data-aos-easing="ease-in-out">
        <img
          class="skills__skill-icon"
          src="img/skills/firebase.svg"
          alt="Firebase"
        />
        <h3 class="skills__skill-name">Firebase</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="400"
      data-aos-duration="400"
      data-aos-easing="ease-in-out">
        <img class="skills__skill-icon" src="img/skills/git.svg" alt="Git" />
        <h3 class="skills__skill-name">GIT</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="400"
      data-aos-duration="400"
      data-aos-easing="ease-in-out">
        <img class="skills__skill-icon" src="img/skills/css.svg" alt="css" />
        <h3 class="skills__skill-name">CSS</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="400"
      data-aos-duration="400"
      data-aos-easing="ease-in-out">
        <img
          class="skills__skill-icon"
          src="img/skills/api.svg"
          alt="Rest-API"
        />
        <h3 class="skills__skill-name">Rest-API</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="500"
      data-aos-duration="500"
      data-aos-easing="ease-in-out">
        <img
          class="skills__skill-icon"
          src="img/skills/scrum.svg"
          alt="Scrum"
        />
        <h3 class="skills__skill-name">Scrum</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="500"
      data-aos-duration="500"
      data-aos-easing="ease-in-out">
        <img
          class="skills__skill-icon"
          src="img/skills/material.svg"
          alt="Material Design"
        />
        <h3 class="skills__skill-name">Material<br />Design</h3>
      </div>
      <div class="skills__grid-item"
      data-aos="fade-right"
      data-aos-delay="500"
      data-aos-duration="500"
      data-aos-easing="ease-in-out">
        <img
          class="skills__skill-icon"
          src="img/skills/active.svg"
          alt="Material Design"
        />
        <h3 class="skills__skill-name skill-name--rose">Growth<br />Mindset</h3>
      </div>
    </div>
  </div>

  <a class="skills__link" href="#contact" class="skills__btn btn">{{
    "skills.btn" | translate
  }}</a>
</section>
