@use "../../styles/utils.scss" as utils;
@use "../../styles/variables.scss" as variables;

.privacy {
  text-align: center;
  position: relative;
  margin: 2rem auto;
  color: variables.$clr-slate600;
}

.privacy__back-arrow-wrapper {
  position: absolute;
  top: 0;
  right: 8px;
}

.privacy__back-arrow {
  width: variables.$size-xl;
}

.privacy > * + * {
  margin-bottom: 1.5rem;
}

h1 {
  color: variables.$clr-slate400;
  font-size: variables.$size-2xl;
}

h2 {
  color: variables.$clr-slate800;
  font-size: variables.$size-lg;
}

h3 {
  color: variables.$clr-slate600;
  font-size: variables.$size-base;
}

h4 {
  font-weight: 700;
}

h4,
p,
a,
li {
  font-size: variables.$size-sm;
  color: variables.$clr-slate600;
  max-width: 100ch;
  margin-inline: auto;
}

//  xs
@media (min-width: 475px) {
  h1 {
    font-size: variables.$size-3xl;
  }

  h2 {
    font-size: variables.$size-xl;
  }

  h3 {
    font-size: variables.$size-lg;
  }

  h4,
  p,
  a,
  li {
    font-size: variables.$size-base;
  }
}

//  sm
@media (min-width: 640px) {
  .privacy__back-arrow {
    width: variables.$size-3xl;
  }
}

//  md
//  @media (min-width: 768px) {}

//  lg
@media (min-width: 1024px) {
  .privacy__back-arrow {
    width: variables.$size-4xl;
  }

  h1 {
    font-size: variables.$size-4xl;
  }

  h2 {
    font-size: variables.$size-2xl;
  }

  h3 {
    font-size: variables.$size-xl;
  }

  h4,
  p,
  a,
  li {
    font-size: variables.$size-lg;
  }
}

//  xl
@media (min-width: 1280px) {
  .privacy__back-arrow {
    width: variables.$size-5xl;
  }

  h1 {
    font-size: variables.$size-5xl;
  }

  h2 {
    font-size: variables.$size-3xl;
  }

  h3 {
    font-size: variables.$size-2xl;
  }

  h4,
  p,
  a,
  li {
    font-size: variables.$size-xl;
  }
}

//  2xl
//  @media (min-width: 1536px) {}
