<section class="privacy container">
  <a class="privacy__back-arrow-wrapper" href="/"><img class="privacy__back-arrow" src="svg/back.svg" alt=""></a>
  <h1>{{ "privacy.title" | translate }}</h1>
  <h2>{{ "privacy.1" | translate }}</h2>
  <h3>{{ "privacy.general" | translate }}</h3>
  <p>
    {{ "privacy.infos1" | translate }}
  </p>
  <h3>{{ "privacy.collection" | translate }}</h3>
  <h4>
    {{ "privacy.responsible" | translate }}
  </h4>
  <p>
    {{ "privacy.responsibleInfo" | translate }}
  </p>
  <h4>{{ "privacy.collect" | translate }}</h4>
  <p>
    {{ "privacy.dataInfo1" | translate }}
  </p>
  <p>
    {{ "privacy.dataInfo2" | translate }}
  </p>
  <h4>{{ "privacy.dataWhy" | translate }}</h4>
  <p>
    {{ "privacy.dataInfo3" | translate }}
  </p>
  <h4>{{ "privacy.dataRights" | translate }}</h4>
  <p>
    {{ "privacy.dataInfo4" | translate }}
  </p>
  <p>
    {{ "privacy.dataInfo5" | translate }}
  </p>
  <h2>2. Hosting</h2>
  <p>{{ "privacy.hostingInfo1" | translate }}</p>
  <h3>All-Inkl</h3>
  <p>
    {{ "privacy.hostingInfo2" | translate }}
    <a
      href="https://all-inkl.com/datenschutzinformationen/"
      target="_blank"
      rel="noopener noreferrer"
      >https://all-inkl.com/datenschutzinformationen/</a
    >.
  </p>
  <p>
    {{ "privacy.hostingInfo3" | translate }}
  </p>

  <h2>3. {{ "privacy.generalInfos" | translate }}</h2>
  <h3>{{ "privacy.dataProtection" | translate }}</h3>
  <p>
    {{ "privacy.dataProtectionInfo1" | translate }}
  </p>
  <p>
    {{ "privacy.dataProtectionInfo2" | translate }}
  </p>
  <p>
    {{ "privacy.dataProtectionInfo3" | translate }}
  </p>
  <h3>{{ "privacy.responsibleParty" | translate }}</h3>
  <p>
    {{ "privacy.responsiblePartyInfo1" | translate }}
  </p>
  <p>
    Alex Eremie<br />
    Justus-von-Liebig Str. 21<br />
    83052 Bruckm&uuml;hl
  </p>

  <p>E-Mail: contact&#64;alexeremie.com</p>
  <p>
    {{ "privacy.responsiblePartyInfo2" | translate }}
  </p>

  <h3>{{ "privacy.storage" | translate }}</h3>
  <p>
    {{ "privacy.storageInfo" | translate }}
  </p>
  <h3>
    {{ "privacy.legalBase" | translate }}
  </h3>
  <p>
    {{ "privacy.legalBaseInfo" | translate }}
  </p>
  <h3>{{ "privacy.recipient" | translate }}</h3>
  <p>
    {{ "privacy.recipientInfo" | translate }}
  </p>
  <h3>{{ "privacy.revocation" | translate }}</h3>
  <p>
    {{ "privacy.revocationInfo" | translate }}
  </p>
  <h3>
    {{ "privacy.objectRight" | translate }}
  </h3>
  <p>
    {{ "privacy.objectRightInfo1" | translate }}
  </p>
  <p>
    {{ "privacy.objectRightInfo2" | translate }}
  </p>
  <h3>
    {{ "privacy.lodgeRight" | translate }}
  </h3>
  <p>
    {{ "privacy.lodgeRightInfo" | translate }}
  </p>
  <h3>{{ "privacy.dataPortability" | translate }}</h3>
  <p>
    {{ "privacy.dataPortabilityInfo" | translate }}
  </p>
  <h3>{{ "privacy.correction" | translate }}</h3>
  <p>
    {{ "privacy.correctionInfo" | translate }}
  </p>
  <h3>{{ "privacy.restriction" | translate }}</h3>
  <p>
    {{ "privacy.restrictionInfo1" | translate }}
  </p>
  <ul>
    <li>
      {{ "privacy.restrictionInfo2" | translate }}
    </li>
    <li>
      {{ "privacy.restrictionInfo3" | translate }}
    </li>
    <li>
      {{ "privacy.restrictionInfo4" | translate }}
    </li>
    <li>
      {{ "privacy.restrictionInfo5" | translate }}
    </li>
  </ul>
  <p>
    {{ "privacy.restrictionInfo6" | translate }}
  </p>
  <p>
    {{ "privacy.source" | translate }}
    <a href="https://www.e-recht24.de">https://www.e-recht24.de</a>
  </p>
</section>
