.privacy {
  text-align: center;
  position: relative;
  margin: 2rem auto;
  color: var(--clr-slate600);
}

.privacy__back-arrow-wrapper {
  position: absolute;
  top: 0;
  right: 8px;
}

.privacy__back-arrow {
  width: var(--size-xl);
}

.privacy > * + * {
  margin-bottom: 1.5rem;
}

h1 {
  color: var(--clr-slate400);
  font-size: var(--size-2xl);
}

h2 {
  color: var(--clr-slate800);
  font-size: var(--size-lg);
}

h3 {
  color: var(--clr-slate600);
  font-size: var(--size-base);
}

h4 {
  font-weight: 700;
}

h4,
p,
a,
li {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  max-width: 100ch;
  margin-inline: auto;
}

//  xs
@media (min-width: 475px) {
  h1 {
    font-size: var(--size-3xl);
  }

  h2 {
    font-size: var(--size-xl);
  }

  h3 {
    font-size: var(--size-lg);
  }

  h4,
  p,
  a,
  li {
    font-size: var(--size-base);
  }
}

//  sm
@media (min-width: 640px) {
  .privacy__back-arrow {
    width: var(--size-3xl);
  }
}

//  md
//  @media (min-width: 768px) {}

//  lg
@media (min-width: 1024px) {
  .privacy__back-arrow {
    width: var(--size-4xl);
  }

  h1 {
    font-size: var(--size-4xl);
  }

  h2 {
    font-size: var(--size-2xl);
  }

  h3 {
    font-size: var(--size-xl);
  }

  h4,
  p,
  a,
  li {
    font-size: var(--size-lg);
  }
}

//  xl
@media (min-width: 1280px) {
  .privacy__back-arrow {
    width: var(--size-5xl);
  }

  h1 {
    font-size: var(--size-5xl);
  }

  h2 {
    font-size: var(--size-3xl);
  }

  h3 {
    font-size: var(--size-2xl);
  }

  h4,
  p,
  a,
  li {
    font-size: var(--size-xl);
  }
}

//  2xl
//  @media (min-width: 1536px) {}
