<section class="imprint container">
  <a class="imprint__back-arrow-wrapper" href="/"><img class="imprint__back-arrow" src="svg/back.svg" alt=""></a>
  <h1 class="imprint__title">{{ "imprint.title" | translate }}</h1>
  <h2 class="imprint__subtitle">{{ "imprint.according" | translate }}</h2>
  <p class="imprint__address">
    Alex Eremie<br />Justus-von-Liebig Str. 21<br />83052 Bruckmühl
  </p>
  <h3 class="imprint__contact">
    <strong>{{ "imprint.contact" | translate }}</strong>
  </h3>
  <p class="imprint__email">E-Mail: contact&#64;alexeremie.com</p>
</section>
