.imprint {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100dvh - 88px - 132px);
  position: relative;
}

.imprint__back-arrow-wrapper {
  position: absolute;
  top: 24px;
  right: 8px;
}

.imprint__back-arrow {
  width: var(--size-xl);
}

.imprint__title {
  color: var(--clr-slate400);
  font-size: var(--size-4xl);
}

.imprint__subtitle {
  color: var(--clr-slate800);
  font-size: var(--size-base);
}

.imprint__address {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.imprint__contact {
  font-size: var(--size-sm);
}

.imprint__email {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

//  xs
@media (min-width: 475px) {
  .imprint {
    height: calc(100dvh - 88px - 134px);
  }

  .imprint__title {
    font-size: var(--size-5xl);
  }

  .imprint__subtitle {
    font-size: var(--size-lg);
  }

  .imprint__address {
    font-size: var(--size-base);
  }

  .imprint__contact {
    font-size: var(--size-base);
  }

  .imprint__email {
    font-size: var(--size-base);
  }
}

//  sm
@media (min-width: 640px) {
  .imprint {
    height: calc(100dvh - 88px - 136px);
  }

  .imprint__back-arrow {
    width: var(--size-3xl);
  }
}

//  md
@media (min-width: 768px) {
  .imprint {
    height: calc(100dvh - 96px - 136px);
  }
}

//  lg
@media (min-width: 1024px) {
  .imprint {
    height: calc(100dvh - 100px - 218px);
  }

  .imprint__back-arrow {
    width: var(--size-4xl);
  }

  .imprint__title {
    font-size: var(--size-7xl);
  }

  .imprint__subtitle {
    font-size: var(--size-2xl);
  }

  .imprint__address {
    font-size: var(--size-lg);
  }

  .imprint__contact {
    font-size: var(--size-lg);
  }

  .imprint__email {
    font-size: var(--size-lg);
  }
}

//  xl
@media (min-width: 1280px) {
  .imprint {
    height: calc(100dvh - 100px - 220px);
  }

  .imprint__back-arrow {
    width: var(--size-5xl);
  }

  .imprint__title {
    font-size: var(--size-9xl);
  }

  .imprint__subtitle {
    font-size: var(--size-4xl);
  }

  .imprint__address {
    font-size: var(--size-xl);
  }

  .imprint__contact {
    font-size: var(--size-xl);
  }

  .imprint__email {
    font-size: var(--size-xl);
  }
}

//  2xl
//  @media (min-width: 1536px) {}
