<section id="featured" class="featured container section">
  <h3 class="featured__subtitle">{{
    "featured.subtitle" | translate
  }}</h3>
  <div class="featured__wrapper">
    <h2 class="featured__title">DABubble</h2>
    <a class="featured__link" href="#"
      ><img src="svg/link.svg" alt="An icon of a link"
    /></a>
  </div>
  <p class="featured__description">
    {{
      "featured.description" | translate
    }}
  </p>
  <div class="featured__info-container">
    <div>
      <h3 class="featured__label">{{
        "featured.label1" | translate
      }}</h3>
      <ul class="featured__tech-stack">
        <li class="featured__info">
          <img
            class="featured__info-img"
            src="img/skills/html.svg"
            alt=""
          />HTML
        </li>
        <li class="featured__info">
          <img class="featured__info-img" src="img/skills/css.svg" alt="" />CSS
        </li>

        <li class="featured__info">
          <img
            class="featured__info-img"
            src="img/skills/typescript.svg"
            alt=""
          />Typescript
        </li>
        <li class="featured__info">
          <img
            class="featured__info-img"
            src="img/skills/angular.svg"
            alt=""
          />Angular
        </li>
        <li class="featured__info">
          <img
            class="featured__info-img"
            src="img/skills/firebase.svg"
            alt=""
          />Firebase
        </li>
      </ul>
    </div>
    <div>
      <h3 class="featured__label">{{
        "featured.label2" | translate
      }}</h3>
      <p class="featured__info">Frontend</p>
    </div>
    <div>
      <h3 class="featured__label">{{
        "featured.label3" | translate
      }}</h3>
      <p class="featured__info">{{
        "featured.info" | translate
      }}</p>
    </div>
  </div>
  <div class="featured__img-container">
    <div class="featured__image-wrapper">
      <img src="img/dabubble/dabubble1.svg" alt="DABubble project" />
    </div>
    <div class="featured__image-wrapper">
      <img src="img/dabubble/dabubble2.svg" alt="DABubble project" />
    </div>
    <div class="featured__image-wrapper">
      <img src="img/dabubble/dabubble8.svg" alt="DABubble project" />
    </div>
    <div class="featured__image-wrapper">
      <img src="img/dabubble/dabubble4.svg" alt="DABubble project" />
    </div>
    <div class="featured__image-wrapper">
      <img src="img/dabubble/dabubble5.svg" alt="DABubble project" />
    </div>
    <div class="featured__image-wrapper">
      <img src="img/dabubble/dabubble6.svg" alt="DABubble project" />
    </div>
    <div class="featured__image-wrapper">
      <img src="img/dabubble/dabubble7.svg" alt="DABubble project" />
    </div>
    <div class="featured__image-wrapper">
      <img src="img/dabubble/dabubble3.svg" alt="DABubble project" />
    </div>
  </div>
</section>
